<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>DP-config. Конфигуратор интеграционных сервисов цифрового профиля ЕСИА</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
<div class="page-content">
    <div class="top">
        <a href="/" style="text-decoration: none;"><span class="logo">ESIA DP-config</span></a>
        <span id="top_right"></span>
        <section class="container">
            <div id="menu_buttons" class="column blue"></div>
        </section>
    </div>
    <div class="h_separator"></div>
    <div id="page_name" class="page_title"></div>
    <div class="h_separator"></div>
    <div class="management" id="management"></div>
    <div class="h_separator"></div>
    <div id="content"></div>
</div>
<script type="text/javascript" src="js/generator_html.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/http.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/app.js" charset="UTF-8"></script>
</body>
</html>